{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <div style="display: flex; align-items: flex-start; gap: 15px; margin-bottom: 1em;">
      {% if teaser %}
        <div class="archive__item-teaser" style="flex-shrink: 0;">
          <img src=
            {% if teaser contains "://" %}
              "{{ teaser }}"
            {% else %}
              "{{ teaser | prepend: "/images/" | prepend: base_path }}"
            {% endif %}
            alt="{{ title | default: post.title }}" style="width: 120px; height: auto;">
        </div>
      {% endif %}
      
      <div class="archive__item-content" style="flex-grow: 1;">
        <h3 style="margin: 0 0 0.5em 0;">
          {% if post.url %}
            <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
          {% else %}
            {{ title }}
          {% endif %}
        </h3>
        
        {% if post.authors %}<p style="margin: 0.2em 0;">{{ post.authors }}</p>{% endif %}
        <p style="margin: 0.2em 0;">
          {% if post.venue %}{{ post.venue }}{% endif %}
          {% if post.venue and (post.date or post.semester or post.year) %}, {% endif %}
          {% if post.semester and post.year %}
            {{ post.semester }} {{ post.year }}
          {% elsif post.date %}
            {{ post.date | date: "%Y" }}
          {% endif %}
        </p>
      </div>
    </div>
  </article>
</div>
